body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.agent-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* キャラクターカードの設定 */
.agent-card {
    cursor: pointer;
    width: 150px;
    text-align: center;
    border: 2px solid transparent;
    transition: border-color 0.2s;
}

/* マップカードの設定 */
.map-card {
    cursor: pointer;
    width: 250px;
    text-align: center;
    border: 2px solid transparent;
    transition: border-color 0.2s;
}

.agent-card:hover, .map-card:hover {
    border-color: #ff4655;
}

/* 画像にdisplay: block; を追加して下の余白をなくす */
.agent-card img, .map-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    display: block;
}

/* キャラクター名の表示 */
.agent-card p {
    display: block;
    margin: 5px 0 0;
    font-weight: bold;
}

/* マップ名の非表示 */
.map-card p {
    display: none;
}

.controls {
    margin-bottom: 20px;
}

#map-container {
    position: relative;
    max-width: 800px;
    margin: auto;
}

#map-image {
    width: 100%;
    height: auto;
}

.lineup-dot {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

#video-player {
    text-align: center;
    margin-top: 20px;
}

#back-to-agents-button, #back-to-maps-button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* 選択されたキャラクター情報のスタイル */
#selected-agent-info {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

#selected-agent-info img {
    width: 70px; /* 画像のサイズを調整 */
    height: auto;
    border-radius: 50%; /* 円形にする */
    border: 3px solid #ff4655;
}